*{

}
body{
    display:grid;
    
    justify-items:center;
    grid-template-columns: 35px 1fr 35px;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:"empty nav nav"
                        "empty con social"
                        "empty con social"
                        "empty con social";
    
}
/* #page > header { */
#container > con {
    grid-area:con;
    width: 100%;
}
#empty > empty{
    grid-area: empty;
}
#header > nav{
    grid-area: nav;
}
#social > social{
    grid-area: social;
}