
body{
    display:grid;

    grid-template-columns: 35px 1fr 35px;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas:"empty nav nav"
                        "empty container social"
                        "empty container social"
                        "empty container social";
    
}

/* #page > header { */

#empty {
    grid-area: empty;
}
#header {
    grid-area: nav;
}
#container  {
    grid-area: container;
}
#social {
    grid-area: social;
}